<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if page.ogimage and page.ogimage != '' %}
  <meta property="og:image" content="{{ page.ogimage }}" />
  {% endif %}

  <link rel="icon" sizes="any" href="/favicon.192x192.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">

  <link rel="stylesheet" href="/pico.min.css">
  <style>
    h1,
    h2,
    h3,
    h4 {
      margin-bottom: 0.2em
    }
  </style>
  <title>{{ page.title }}</title>
</head>