<!doctype html>
<html lang="en">

{% include head.html %}

<body>
  <main class="container">
    <h1>
      <a href="/">
        <img alt="{{ site.title }} app icon" src="{{ site.icon }}" width="50" style="border-radius: 10%">
      </a>
      <span style="vertical-align: middle">{{ page.title }}</span>
    </h1>

    {% if page.subtitle %}<p>{{ page.subtitle }}</p>{% endif %}

    {{ content }}

    <hr>

    <p>
      <a href="/">{{ site.title }}</a>
      •
      <a href="/whatsnew">What’s New</a>
      •
      <a href="/support">Support</a>
      •
      <a href="/privacy">Privacy Policy</a>
      •
      © {{ site.start_year }} - {{ 'now' | date: "%Y" }} <a href="{{ site.author.url }}">{{ site.author.name }}</a>
    </p>
  </main>
</body>

</html>
